{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div class="container-fluid">
    <div class="row">
        {% block content_body %} {% endblock %}
    </div>
</div>

{% else %}

<div align="center">
    <h1> Вход </h1>
    <br>
</div>

<div class="col-4 offset-4">
    <form method="POST" action="{%url 'tasks'%}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Имя
                пользователя</label>
            <input type="text" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" name="username">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1"
                   class="form-label">Пароль</label>
            <input type="password" class="form-control"
                   id="exampleInputPassword1" name="password">
        </div>
        <div align="center">
            <button type="submit" class="btn btn-primary">Войти</button>
        </div>

    </form>
</div>

{% endif %}

{% endblock %}
